@media only screen 
and (min-width: 668px) 
and (max-width: 811px) {
    #roomp1 {
        transform: scale(1.4) translateY(-98em) translateX(-20em) ;
    }

    #spiral, #comm360, #roomAbove {
        transform: scale(1.6) translateY(-85em) translateX(0em) ;
    }

    #woodsound {
        transform: scale(1.5) translateY(-40em) translateX(-12em) ;
    }

    #classNameroom_circle{
        transform: scale(1.5) translateY(-10em) translateX(0em) ;
    }

    #classNameroom_line {
        transform: scale(1.8) translateY(-32em) translateX(-30em) ;
    }

    #interdepedence {
        transform: scale(1.3) translateY(32em) translateX(-5em) ;
    }

    #lego {
        transform: scale(1.5) translateY(29em) translateX(-3em) ;
    }

}