@media only screen 
and (min-width: 1025px) 
and (max-width: 1280px) {

    #roomp1 {
        transform: scale(1.1) translateY(-14em) translateX(-3em) ;
    }

    #spiral, #comm360, #roomAbove {
        transform: scale(1) translateY(-10em) translateX(0em) ;
    }

    #woodsound {
        transform: scale(1) translateY(0em) translateX(2em) ;
    }

    #classNameroom_circle, #classNameroom_line {
        transform: scale(1) translateY(2em) translateX(-1em) ;
    }

    #interdepedence {
        transform: scale(1) translateY(5em) translateX(1em) ;
    }

    #lego {
        transform: scale(1) translateY(15em) translateX(2em) ;
    }
}

@media only screen 
and (min-width: 1281px) 
and (max-width: 1622px) {

    #roomp1 {
        transform: scale(1.1) translateY(-14em) translateX(-3em) ;
    }

    #spiral, #comm360, #roomAbove {
        transform: scale(1) translateY(-10em) translateX(0em) ;
    }

    #woodsound {
        transform: scale(1) translateY(0em) translateX(2em) ;
    }

    #classNameroom_circle, #classNameroom_line {
        transform: scale(1) translateY(2em) translateX(-1em) ;
    }

    #interdepedence {
        transform: scale(1) translateY(5em) translateX(1em) ;
    }

    #lego {
        transform: scale(1) translateY(15em) translateX(2em) ;
    }
}

