@media only screen 
and (min-width: 375px) 
and (max-width: 667px) {


    .p2clockText, .p2clockTitle, .clockp3 {
        padding-left: 1em;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .p4clockText {
        padding: 1em;
    }

    .p6clock {
        padding: 4em 2em;
    }


}