@media only screen 
and (min-width: 812px) 
and (max-width: 1024px) {


    #watch {
        transform: scale(1) translateY(10em) translateX(-2em);
    }

    #street2time {
        transform: scale(1.5) translateY(0em) translateX(-25em);
    }

    #timeevolve {
        transform: scale(1.3) translateY(10em) translateX(-16em);
    }

    #text {
        transform: scale(1.5) translateY(-5em) translateX(-5em);
    }

    #doubledaimond {
        transform: scale(1.3) translateY(22em) translateX(-1em);
    }
  
}