@media only screen 
and (min-width: 375px) 
and (max-width: 667px) {

    #watch {
        transform: scale(.6) translateY(19em) translateX(-2em);
    }

    #street2time {
        transform: scale(.8) translateY(10em) translateX(-43em);
    }

    #timeevolve {
        transform: scale(.5) translateY(136em) translateX(-23em);
    }

    #text {
        transform: scale(.8) translateY(17em) translateX(-10em);
    }

    #doubledaimond {
        transform: scale(.58) translateY(144em) translateX(-1em);
    }
}