@media only screen 
and (min-width: 668px) 
and (max-width: 811px) {

   
    #watch {
        transform: scale(1) translateY(8em) translateX(-10em);
    }

    #street2time {
        transform: scale(1.2) translateY(-5em) translateX(-32em);
    }

    #timeevolve {
        transform: scale(1) translateY(13em) translateX(-19em);
    }

    #text {
        transform: scale(1) translateY(16em) translateX(-5em);
    }

    #doubledaimond {
        transform: scale(1) translateY(23em) translateX(0em);
    }

}