@media only screen 
and (min-width: 812px) 
and (max-width: 1024px) {

    #watch {
        transform: scale(1.5) translateY(-84em) translateX(-3em);
    }

    #street2time {
        transform: scale(2) translateY(-57em) translateX(-20em);
    }

    #timeevolve {
        transform: scale(2) translateY(-50em) translateX(-15em);
    }

    #text {
        transform: scale(2) translateY(-43em) translateX(-2em);
    }

    #doubledaimond {
        transform: scale(2) translateY(-35em) translateX(0em);
    }
  
}