@media only screen 
and (min-width: 375px) 
and (max-width: 667px) {

    #watch {
        transform: scale(3) translateY(-118em) translateX(3em);
    }

    #street2time {
        transform: scale(3.5) translateY(-97em) translateX(-45em);
    }

    #timeevolve {
        transform: scale(2) translateY(-28em) translateX(-20em);
    }

    #text {
        transform: scale(2) translateY(-18em) translateX(-3em);
    }

    #doubledaimond {
        transform: scale(1.8) translateY(104em) translateX(0em);
    }
}