@media only screen 
and (min-width: 375px) 
and (max-width: 667px) {

    :root {
        --title-size: 1.7em;
        --subtitle-size: 1.3em;
        --demisub-size: 1.3em;
        --body-size: 1em;
    }

    .introText, .chapterList {
        height: 100vh;
    }
    
    .introText {
        padding: 0em 2em;
    }

    .hpage {
        background-color: rgba(235, 180, 1, .8);
    }

    .scroll {
        display: inline;
        font-weight: var(--semi);
    }

    #selectChap {
        color: black;
    }

    .homeChapterLinks {
        font-weight: var(--med);
        font-size: var(--subtitle-size);
        text-decoration: none;
        color: black;
        padding: 0.3em 0;
    }

    .homeChapterLinks:hover {
        font-weight: var(--demi);
    }

    #home {
        display: none;
    }

}