@media only screen 
and (min-width: 375px) 
and (max-width: 667px) {

    #p1chair1 {
        transform: scale(.5) translateY(38em) translateX(0em);
    }

    #p1chair2 {
        transform: scale(.5) translateY(28em) translateX(-20em);
    }

    #p1chair3 {
        transform: scale(.5) translateY(20em) translateX(-32em);
    }

    #thrones {
        transform: scale(.4);
    }

    #throne {
        transform: translateY(110em) translateX(-10em)
    }

    #throne-2, #throne-3 {
        transform: translateY(118em) translateX(-25em)
    }

    #face {
        transform: scale(0.3) translateY(200em) translateX(-10em);
    }
    
    #cardboard {
        transform: scale(.3) translateY(356em) translateX(8em);
    }
    
    #ada3-rocking {
        transform: scale(.4) translateY(275em) translateX(3em);
    }
    
    #ada1 {
        transform: scale(.4) translateY(280em) translateX(2em);
    }
    
    #tall-chair {
        display: none;
    }

    #chair6 {
        transform: scale(.6);
    }

    #R {
        transform: translateY(130em) translateX(-50em);
    }

    #L {
        transform: translateY(130em) translateX(0em);
    }

}