@media only screen 
and (min-width: 375px) 
and (max-width: 667px) {

    #p1chair1 {
        transform: scale(1.3) translateY(-250em) translateX(-2em);
    }

    #p1chair2 {
        transform: scale(1.3) translateY(-260em) translateX(-10em);
    }

    #p1chair3 {
        transform: scale(1.3) translateY(-275em) translateX(-20em);
    }
    #throne {
        transform: scale(1.3) translateY(-130em) translateX(-7em);
    }

    #throne-2 {
        transform: scale(1.8) translateY(-203em) translateX(-35em);
    }

    #throne-3 {
        transform: scale(1.7) translateY(-133em) translateX(-35em);
    }


    #face {
        transform: scale(1.4) translateY(-108em) translateX(-9em);
    }
    
    #cardboard {
        transform: scale(1.3) translateY(60em) translateX(20em);
    }
    
    #ada3-rocking {
        transform: scale(1.1) translateY(222em) translateX(10em);
    }
    
    #ada1 {
       display: none;
    }
    
    #tall-chair {
        transform: scale(1.3) translateY(145em) translateX(-5em);
    }

    #R {
        transform: scale(2) translateY(60em) translateX(-43em);
    }

    #L {
        transform: scale(2) translateY(60em) translateX(0em);
    }

}