.chapterNav {
    color: var(--yellow);
    font-weight: var(--bold);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 1em;
    font-size: var();
}

.chapterNav:hover {
    color: black;
}

.selectedChap {
    color: black;
    font-weight: var(--bold);
    text-decoration: none;
}

.stickyNav {
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
 /* background-image: linear-gradient(black, grey); */
    position: fixed;
    z-index: 10;
    height: 10vh;
    width: 100%;
    top: 0;
    left: 0;
    transition: ease 2s;
     &--scrolled {
        height: 7vh;
    
    }
}