@media only screen 
and (min-width: 375px) 
and (max-width: 667px) {

    #walking {
        transform: translateY(335em) translateX(-30em) scale(1.3);
    }
    
    #subway {
        transform: translateY(120em) translateX(-30em) scale(1.6);
    }
    
    #bionic {
        transform: scale(1.4) translateY(45em) translateX(-20em) ;
    }
    
    #war2 {
        transform: scale(1.4) translateY(-137em) translateX(-3em) ;
    }

    #war1 {
        transform: scale(1.4) translateY(-208em) translateX(-23em) ;
    }

    #bionicarm {
        transform: scale(2.3) translateX(-40em) translateY(-170em);
    }
    
    #zip4, #zip3  {
        transform: scale(2.3) translateX(-35em) translateY(-145em);
    }

    #zip2, #zip1  {
        transform: scale(2) translateX(-24em) translateY(-200em);
    }

    #limb-background {
        transform: scale(2) translateY(-50em);
    }
   

}