@media only screen 
and (min-width: 668px) 
and (max-width: 811px) {


    #walking {
        transform: translateY(15em) translateX(-50em) scale(1.6);
    }
    
    #subway {
        transform: translateY(-20em) translateX(-30em) scale(1.6);
    }
    
    #bionic {
        transform: scale(1.4) translateY(-5em) translateX(-20em) ;
    }
    
    #war2 {
        transform: scale(1.4) translateY(-70em) translateX(-3em) ;
    }

    #war1 {
        transform: scale(1.4) translateY(-88em) translateX(-23em) ;
    }

    #bionicarm {
        transform: scale(2) translateX(-30em) translateY(-80em);
    }
    
    #zip4, #zip3  {
        transform: scale(2) translateX(-30em) translateY(-75em);
    }

    #zip2, #zip1  {
        transform: scale(2) translateX(-20em) translateY(-90em);
    }

    #limb-background {
        transform: scale(2) translateY(-50em);
    }

}