.home-1{fill:#ebb401;opacity:0.3;}.home-1,.home-2{stroke:#ebb401;stroke-miterlimit:10;}.home-2{fill:none;}

#home {
    transform: scale(1.6);
}

@media only screen 
and (min-width: 1281px) 
and (max-width: 1622px) {

    #home {
        transform: scale(1.12) translateY(5em);
    }

}

@media only screen 
and (min-width: 1025px) 
and (max-width: 1280px) {

    #home {
        transform: scale(1) translateY(5em);
    }

}

@media only screen 
and (min-width: 812px) 
and (max-width: 1024px) {

    #home {
        transform: scale(1) translateY(27em);
    }

  
}

@media only screen 
and (min-width: 668px) 
and (max-width: 811px) {

    #home {
        transform: scale(1) translateY(13em);
    }

}


@media only screen 
and (min-width: 375px) 
and (max-width: 667px) {

    #home {
        transform: scale(1.6) translateY(-7em);
    }

    .introText {
        padding: 0em 2em;
    }

}