.home-1{fill:#ebb401;opacity:0.3;}.home-1,.home-2{stroke:#ebb401;stroke-miterlimit:10;}.home-2{fill:none;}

@media only screen 
and (min-width: 1280px) 
and (max-width: 1622px) {

    #city-front, #city-middle, #city-back {
        transform: scale(1) translateY(10em);
    }

}

@media only screen 
and (min-width: 1025px) 
and (max-width: 1279px) {

    #city-front, #city-middle, #city-back {
        transform: scale(1) translateY(10em);
    }

}

@media only screen 
and (min-width: 812px) 
and (max-width: 1024px) {

    #city-front, #city-middle, #city-back {
        transform: translateY(24em);
    }

    .introText {
        background-color: rgba(255, 255, 255, 0.2)
    }
  
}

@media only screen 
and (min-width: 668px) 
and (max-width: 811px) {

    #city-front, #city-middle, #city-back {
        transform: translateY(1em);
    };

    .introText {
        background-color: rgba(255, 255, 255, 0.2);
    }

}
